*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.student-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.btn{
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.student-cta{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field{
  margin: 10px;
  display: block;
}