* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0 40px;
}

header a {
  color: #fff;
}

.container{
  width: 90%;
  margin: 40px auto;
}

.student-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 20px; 
}

.student-item {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 20px 10px;

}

h1{
  margin-bottom: 15px;
}

.student-item p {
  color: #fff;
  margin: 8px 0;
}

.btn {
  cursor: pointer;
  width: 70px;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  text-transform: uppercase;
}

.student-cta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input-field {
  margin: 10px 0;
  display: block;
  padding: 5px 10px;
}

.view-btn {
  display: block;
  margin: 10px auto;
}

.form-btn{
  font-weight: bold;
  padding: 5px 10px;
}

.add-std {
  position: fixed;
  right: 5%;
  bottom: 5%;
  border: none;
  padding: 10px;
  background: crimson;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
